<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 指定连接数据库的驱动类 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 指定连接的数据库的url，我这里是连接到本地的test数据库上 -->
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/jiaowu_schema</property>
		<!-- 连接数据库的用户名 -->
		<property name="hibernate.connection.username">sailhe</property>
		<!-- 连接数据库的密码(我这里是为空的) -->
		<property name="hibernate.connection.password">mysql</property>
		<!-- 指定连接池中的最大连接数 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<!-- 指定连接池中最小连接数 -->
		<property name="hibernate.c3p0.min_size">1</property>
		<!-- 指定连接池中连接的超时时长 -->
		<property name="hibernate.c3p0.timeout">5000</property>
		<!-- 指定连接池里最大缓存多少个Statement对象 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<!-- 指定数据库方言（就是说你这个数据库是什么类型的） -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- 设置：根据需要自动创建（更新）数据库表 -->
		<!-- <property name="hbm2ddl.auto">update</property> -->
		<!-- 显示Hibernate持久化操作所生成的SQL -->
		<property name="show_sql">false</property>
		<!-- 将SQL脚本进行格式化后再输出 -->
		<property name="hibernate.format_sql">false</property>
	</session-factory>
</hibernate-configuration>
